ensure_folder() {
    test -d "$1" || mkdir -p "$1"
}

fix_dsm() {
    cp $1 $1.bak
    sed -i "s/80/8880/g" $1
    sed -i "s/443/8881/g" $1
}

echo "Deploy traefik"
ensure_folder {{ global.docker_volumes }}/traefik/acme
ensure_folder {{ global.docker_volumes }}/traefik/config
ensure_folder {{ global.docker_volumes }}/traefik/logs
ensure_folder {{ global.docker_volumes }}/traefik/waf/logs/nginx
touch {{ global.docker_volumes }}/traefik/waf/logs/nginx/access.log
touch {{ global.docker_volumes }}/traefik/waf/logs/nginx/error.log
cp ./projects/traefik/config/traefik.yml {{ global.docker_volumes }}/traefik/config/traefik.yml
cp ./projects/traefik/config/config.yml {{ global.docker_volumes }}/traefik/config/config.yml
cp ./projects/traefik/waf/logging.conf.template {{ global.docker_volumes }}/traefik/waf/logging.conf.template
cp ./projects/traefik/waf/before.conf {{ global.docker_volumes }}/traefik/waf/before.conf
cp ./projects/traefik/waf/after.conf {{ global.docker_volumes }}/traefik/waf/after.conf

# Freeing up port 80 on Synology DSM, rewrites port 80 to 8880 and 443 to 8881
# https://stackoverflow.com/a/55561347
if [ ! -f /usr/syno/share/nginx/server.mustache.bak ]; then
    fix_dsm /usr/syno/share/nginx/server.mustache
    fix_dsm /usr/syno/share/nginx/DSM.mustache
    fix_dsm /usr/syno/share/nginx/WWWService.mustache
    /usr/syno/sbin/synoservicecfg --restart nginx
fi

# Reload config
if [ "$( /usr/local/bin/docker container inspect -f '{{.State.Status}}' traefik )" == "running" ]; then
    /usr/local/bin/docker restart traefik
fi
if [ "$( /usr/local/bin/docker container inspect -f '{{.State.Status}}' waf )" == "running" ]; then
    /usr/local/bin/docker restart waf
fi