ensure_folder() {
    test -d "$1" || mkdir -p "$1"
}

echo "Deploy websites"
ensure_folder {{ global.docker_volumes }}/websites/{{ websites.domain_koen }}/config
ensure_folder {{ global.docker_volumes }}/websites/{{ websites.domain_koen }}/logs
ensure_folder {{ global.docker_volumes }}/websites/{{ websites.domain_koen }}/public
ensure_folder {{ global.docker_volumes }}/websites/{{ websites.domain_paul }}/config
ensure_folder {{ global.docker_volumes }}/websites/{{ websites.domain_paul }}/logs
ensure_folder {{ global.docker_volumes }}/websites/{{ websites.domain_paul }}/public
cp ./projects/websites/config/koen.conf {{ global.docker_volumes }}/websites/{{ websites.domain_koen }}/config/default.conf
cp ./projects/websites/config/paul.conf {{ global.docker_volumes }}/websites/{{ websites.domain_paul }}/config/default.conf

if [ "$( /usr/local/bin/docker container inspect -f '{{.State.Status}}' website-koen )" == "running" ]; then
    /usr/local/bin/docker restart website-koen
fi
if [ "$( /usr/local/bin/docker container inspect -f '{{.State.Status}}' website-paul )" == "running" ]; then
    /usr/local/bin/docker restart website-paul
fi